<ion-header>
  <ion-toolbar style="--background: black">
      <ion-buttons slot="start">
        <ion-back-button style="color: white" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white">Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="background"><br>
    <ion-card>
      <ion-card-header>
        <h5 style="text-align: center;">RESTABLECER CONTRASEÑA</h5>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Correo Electrónico"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  <ion-button color="dark" style="width: 100%;">ENVIAR</ion-button>
</div>
</ion-content>
