<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-chip class="chip-class">
          <ion-avatar class="avatar-class">
            <img src="../assets/img/logo2.jpeg" class="img-menu">
          </ion-avatar>
          <ion-title>{{username}}</ion-title>
        </ion-chip>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item (click)="inicio()">
          <ion-icon  name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item (click)="planes()">
          <ion-icon  name="cash-outline" slot="start"></ion-icon>
          <ion-label>Planes</ion-label>
        </ion-item>
        <ion-item (click)="compras()">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label>Compras</ion-label>
        </ion-item>
        <ion-item (click)="carrito()">
          <ion-icon  name="cart" slot="start"></ion-icon>
          <ion-label>Carro de Compra</ion-label>
        </ion-item>
      </ion-list>
      <br><br>
      <ion-list>
        <ion-item (click)="cerrar()">
          <ion-icon  name="exit-outline" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>


