ion-input.custom-input{
  border-radius: 30px;
  border: #6b6764;
  border-color: #693c1b;
  background: #000000;
  color: white;
  font-size: 14px;
  }
  img.custom-img-fondo{
    width: 60%;
    height: 25%;
    display: block;
    margin: auto;
  }
  ion-button.custom-button{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    display: block;
    margin: auto;
    color: white;
  }
  ion-button.custom-clear-pass{
    display: block;
    margin: auto;
    color: #3880ff;
    width: 100%;
    font-size: 11px;
  }
  .background{
    background: url('../../../assets/img/backgroud.jpg');
    width: 100%; 
    height: 100%;
    padding: 5px;
  }